<div class="card bg-dark text-white">
  <!--<div class="img"> <img src="assets/images/1.jpg" class="card-img" alt="imageninicio"></div>-->
  <div class="card-img-overlay">
    <div class="row" align="center" justify="center">
      <div class="col">
        <h1 class="h1home">
          <b> A TODO MOTOR AUTOS</b>
        </h1>
        <h3 style="color:black">
          Publicá sin registrarte y en un sólo paso. ¿Apurado por
          vender? Recibí ofertas en Efectivo de concesionarios
          registrados. ¡Súper!

        </h3>

        <h4 style="text-align: center" color="black" routerLinkActive="active">
          
        </h4><br>
        <app-auto></app-auto>
        
      </div>
    </div>
  </div>
</div>